*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F6F6F6;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #29a81e;
}

